{% extends "layout.html" %}
{% block content %}
<h3>Bookinfo Found.</h3>

<p><form action = "search" method="GET">
    <input type="text" name="isbn">
    <input class="button" type="submit" value="ISBNで検索"> 
    </form>
</p>

<p>
    ISBN: {{ isbn }}<br>
    書名: {{ booktitle }}<br>
    著者: {{ bookauthor }}<br>
    出版社: {{ publisher }}<br>
</p>
<p>
    読んだ？　→　{{ status }}    
</p>
 
<p>
    <form action="status" method="POST">
    {% if status == "reading" %}
        <input type="radio" name="status" value="reading" checked="checked"> reading<br> 
        <input type="radio" name="status" value="read"> read<br>
    {% elif status == "read" %}
        <input type="radio" name="status" value="reading"> reading<br> 
        <input type="radio" name="status" value="read" checked="checked"> read<br>
    {% else %}
        <input type="radio" name="status" value="reading"> reading<br> 
        <input type="radio" name="status" value="read"> read<br>
    {% endif %}
    memo<br>
    
    <textarea name="memo">{{ memo }}</textarea>
    <input class="button" type="submit">
</form>
</p>
<br>
{% endblock %}
