{% extends "layout.html" %}
{% block content %}
<p>
    ISBN: <a href="book?q={{ bookinfo['isbn'] }}">{{ bookinfo['isbn'] }}</a><br>
    書名: {{ bookinfo['title'] }}<br>
    シリーズ: {{ bookinfo['series'] }}<br>
    巻: {{ bookinfo['volume'] }}<br>
    著者: {{ bookinfo['author'] }}<br>
    出版社: {{ bookinfo['publisher'] }}<br>
    NDLリンク: <a href={{ bookinfo['permalink'] }}>{{ bookinfo['permalink'] }}<br></a>
    <br>
</p>
<p>
<form action='status' method="POST">
    <input type="hidden" name='isbn' value={{ bookinfo['isbn'] }}></data>
    <input type="radio" name='status' value="unread" checked='checked'>unread<br>
    <input type="radio" name='status' value="reading">reading<br>
    <input type="radio" name='status' value="read">read<br>
    <input type="radio" name='status' value="wish">wish<br>
    <input type="submit" value="submit">
</form>
</p>
<br>
{% endblock %}