<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>
<header>
</header>　

<body>
    <h1>getBookinfoByISBN</h1>
    <p>
    <form name='inputISBN'>
        <input type="text" name="isbn" placeholder="ISBNで検索">
        <input type="button" onclick="findBookinfo()" value="検索">
    </form>
    </p>

    <div id="bookinfoResult">
    </div>

    <script>
        async function findBookinfo() {
            const isbn = document.forms.inputISBN.isbn.value;
            const url = 'http://localhost:5000/book/' + isbn;
            const bookinfo = await fetch(url).then(response => response.text());
            document.getElementById('bookinfoResult').textContent = bookinfo;
        }
    </script>

    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/index.js"></script> -->
</body>

</html>